body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(199, 199, 199);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vH; 
  justify-content: center; 
}

.loginbox, .loginform {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.formContrl {
  margin-top: 5px;
  padding: 10px;
}

.usernamefield>div{
  margin: 10px;
}

.error {
  display:none;
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 3px;
}

.buttonRightAlign{
  margin-top: 20px;
  padding: 20px;
  
}

#customerbtn{
  margin: 5px;
}

#addbtn_customer{
  margin-left: 10px;
}

#contractsbtn{
  margin: 5px;
}

#addbtn_contracts{
  margin-left: 10px;
}

#userbtn{
  margin: 5px;
}

#addbtn_user{
  margin-left: 10px;
}